
.svi{
    background-color: white;
    width: 50%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-content: space-between;

}

button{
    width: 150px;
    height: 40px;
    border-radius: 20px;
    border: none;
}
.prva{
    background: linear-gradient(to right, rgb(19, 159, 194),rgb(4, 182, 93));
}
.druga{
    background: linear-gradient(to right, rgb(204, 204, 19),rgb(221, 25, 11));
}
.treca{
    background: linear-gradient(to right, rgb(230, 127, 230),rgb(126, 14, 126));
}
.cetvrta{
    background: linear-gradient(to right, rgb(214, 50, 50),rgb(216, 143, 6));
}
.peta{
    background: linear-gradient(to right, rgb(1, 80, 1),rgb(17, 218, 17));
}
.sesta{
    background: linear-gradient(to right, rgb(2, 85, 2),rgb(228, 228, 7));
}
.sedma{
    background: linear-gradient(to right, rgb(2, 2, 177),rgb(105, 2, 105));
}
.osma{
    background: linear-gradient(to right, black,rgba(128, 128, 128, 0.007));
}
.deveta{
    background: linear-gradient(to right, rgba(7, 197, 188, 0.747),rgba(3, 95, 145, 0.775));
}
.deseta{
    background: linear-gradient(to right, rgb(208, 57, 82),rgb(216, 177, 23));
}
.eleven{
    background: linear-gradient(to right, rgb(204, 5, 5),rgb(208, 48, 48));
}