
body {
    background: rgb(158, 18, 18);
    margin: 10;
    font-family:'Popins' ;
}

.navbar {
    background: rgb(252, 247, 247);
}
.container {
    background: rgb(146, 146, 146);
}
.secondary-nav {
    background: yellow;
}
.go-premium {
    font-style: oblique;
    text-align:center;
    text-decoration:line-through;
}