.fleks{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 25px;
}
ul{
    display: flex;
    flex-direction: row;
    text-decoration: none;
    list-style-type: none;
    
}
li{
    margin: 0px 10px;
}

button{
    height: 30px;
    width: 200px;
}
button:hover{
    background-color: green;
}