table{
    width: 600px;
    border: 1px solid;
    border-collapse: collapse;
}
td{
    border: 1px  solid;
}
td:nth-child(odd){
    background-color: rgb(154, 206, 154);
}
.ocene{
    background-color: green;
    text-align: center;
    color: white;
    font-size: 20px;
}
td:nth-child(even){
    background-color: greenyellow;
}
