div{
    display: inline-block;
    border: 1px solid;
    position: absolute;
}
.div1{
    width: 150px;
    height: 150px;
    background-color: blueviolet;
    left: 200px;
    top: 100px;
}
.div2{
    top: 150px;
    left: 300px;
    width: 150px;
    height: 150px;
    background-color: blue;

}
.div3{
    left: 200px;
    top: 300px;
    width: 500px;
    height: 100px;
    background-color: red;


}
.div4{
    top: 100px;
    left: 650px;
    width: 100px;
    height: 250px;
    background-color: chartreuse;
    z-index: -1;
}